#contact {
    /* background-image: url('/KawaiiKittydigitalpapers/3.png'); */
    background-color: #fbe0e0;
    height: 100vh;
}

.form-input-bg-color {
    background-color: #ffffea;
    border: none;
}